
.venv/
venv/
env/
__pycache__/
*.pyc
.ipynb_checkpoints/

.idea
data/images
data/masks
venv/

# Model weights
*.pth
__pycache__/
src/models/
*.pt

# Data
MaIA_Scoliosis_Dataset/
data/images/
data/masks/